<div class="container indexLayout col-lg-6 col-lg-6 col-sm-6 col-xs-6">
  <p>nothing</p>
</div>

<div class="container indexUserPages col-lg-6 col-lg-6 col-sm-6 col-xs-6">
  <div class="login">
    <h2 id="crafty">have an account? log in</h2>
    <form action="/login" method="post">
    <label id="beer" for="username-input">username</label>
    <input id="username-input" type="text" name="loginUsername">
    <br>
    <label id="finder" for="password-input">password</label>
    <input id="password-input" type="password" name="loginPassword">
    <br>
    <button style="margin-top: 10px; border-radius: 5px; background-color: white">log in</button>
    </form>
  </div>
  <div class="signup">
    <h2 id="friendly">new user? sign up</h2>
    <form action="/signup" method="post">
      <label id="crafty" for="name-input">full name</label>
      <input id="name-input" type="text" name="nameInput">
      <br>
      <label id="friendly" for="username-input">username</label>
      <input id="username-input" type="text" name="usernameInput">
      <br>
      <label id="beer" for="email-input">email <span style="color: white">___.</span></label>
      <input id="email-input" type="email" name="emailInput">
      <br>
      <label id="finder" for="password-input">password</label>
      <input id="password-input" type="password" name="passwordInput">
      <br>
      <button style="margin-top: 10px; border-radius: 5px; background-color: white">sign up</button
    </form>
</div>
</div>
