body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label{
  display: inline;
}

#crafty{
  color: #8D4E34;
}

#friendly{
  color: rgb(203, 119, 79);
}

#beer{
  color: #F8A337;
}

#finder{
  color: #352E2C;
}

#profilePic{
  width: 95px;
  height: 95px;
  border-radius: 50%;
  float: left;
  padding: 2px;
}

#post-pic-path{
  display: none;
}


.containerBackground{
  width: 100%;
  height: 52px;
  background: rgba(235, 216, 30, 0.5);
  position: fixed;
  left: 0;
  top: 0;
}

.footerBackground{
  width: 100%;
  height: 50px;
  background: rgba(235, 216, 30, 0.5);
  position: fixed;
  left: 0;
  bottom: 0;
}

.headerContainer{
  position: fixed;
  top: -5px;
  left: 45px;
}

.indexLayout{
  margin-top: 75px;
  height: 450px;
  background-size: cover;
  border-radius: 5px;
}

.indexUserPages{
  margin-top: 75px;
  background-color: rgba(245, 236, 136, 0.9);
  border-radius: 5px;
  border: white 2px solid;
}

.login{
  padding: 10px 0px 30px 10px;
  text-align: left;
}

.signup{
  padding: 10px 0px 30px 10px;
  text-align: left;
}

.leftPannel{
  float: left;
  position: fixed;
}

.searchBar{
  margin-top: 25px;
}

.searchBar>input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profileContainer{
  background: rgba(124, 66, 61, 0.5);
  clear: both;
  padding: 1px 0px 10px 30px;
  border-radius: 5px;
  margin-top: 25px;
  height: 140px;
  margin-top: 5px;
  overflow: scroll;
}

.profileInfo{
  padding: 5px;
  font-size: 16px;
  color: black;
}


.eventsContainer{
  background-color: rgba(203, 119, 79, 0.5);
  clear: both;
  padding: 1px 0px 10px 30px;
  border-radius: 5px;
  margin-top: 25px;
  height: 140px;
  overflow: scroll;
}

.eventsInfo{
  padding: 5px;
  font-size: 16px;
  color: black;
}

.tradesContainer{
  background: rgba(248, 163, 55, 0.5);
  clear: both;
  padding: 1px 0px 10px 30px;
  border-radius: 5px;
  margin-top: 25px;
  height: 140px;
  overflow: scroll;
}

.tradesInfo{
  padding: 5px;
  font-size: 16px;
  color: black;
}

.feedContainer{
  background: rgba(235, 216, 30, 0.5);
  height: auto;
  border-radius: 5px;
  padding-left: 50px;
  float: right;
  position: static;
  margin-top: 25px;
}

.feedInfo{
  color: black;
}

.styledButton{
  border-radius: 5px;
  background-color: white;
  display: block;
  clear: both;
  margin-left: 12px
}
